
:root {
    --bg-color: hsl(212, 45%, 89%);
    --card-bg-color: hsl(0, 0%, 100%);
    --card-shadow: hsl(213, 27%, 80%);
    --header-color: hsl(218, 44%, 22%);
    --description-color: hsl(216, 15%, 48%);
    --footer-color: hsl(228, 45%, 44%);

}

body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: var(--card-bg-color);
    box-sizing: border-box;
    box-shadow: .3125rem .3125rem .625rem var(--card-shadow);
    text-align: center;
    padding: 1.25rem;
    border-radius: 1rem;
    max-width: 320px;
    width: 90%;
}

main img{
    max-width: 100%;
    border-radius: 1rem;
}

main h1 {
    color: var(--header-color);
    font-size: 1.25rem;
    margin: 1.25rem 0;
    font-weight: 700;
}

main p {
    font-size: .9375rem;
    color: var(--description-color);
    font-weight: 400;
}

footer {      
    position: absolute;
    bottom: .625rem;    
    font-size: .625rem; 
    text-align: center; 
    color: var(--footer-color);
}

footer a {
    color: var(--footer-color);
}