
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    box-shadow: 5px 5px 10px hsl(213, 27%, 80%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 320px;
    width: 90%;
}

.container img{
    max-width: 100%;
    border-radius: 10px;
}

.container h3 {
    color: hsl(218, 44%, 22%);
    margin: 20px 0;
    font-weight: 700;
}

.container p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}

footer {      
    position: absolute;
    bottom: 10px;    
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%);
}
footer a {
    color: hsl(228, 45%, 44%);
}